.home {
  &__content {
    width: 100%;
  }
  &__about {
    &--content {
      padding: 8rem 3rem;
      min-height: 100vh;
      padding-bottom: 0;

      @media (max-width: 1024px) {
        min-height: 50vh;
      }
    }
    &--title {
      font-size: 1.5rem;
      letter-spacing: 0.5rem;
      padding: 2rem 0;
      font-weight: 600;
    }
    &--main {
      display: flex;
      justify-content: space-evenly;
      align-items: baseline;
      min-height: 40vh;
      padding: 5rem 0;
      flex-wrap: wrap;

      @media (max-width: 768px) {
        flex-wrap: wrap;
      }
    }
    &--phone {
      font-size: 1rem;
      letter-spacing: 0.5rem;
      padding: 2rem 0;
      font-weight: 600;
      color: #adadad;
    }
    &--mail {
      font-size: 1rem;
      letter-spacing: 0.5rem;
      padding: 2rem 0;
      font-weight: 600;
      color: #adadad;
    }
    &--middle {
      display: flex;
      width: 50%;
      .img {
        height: 32rem;
        width: 25rem;

        @media (max-width: 1024px) {
          display: none;
        }
      }
      .text {
        width: 50rem;
        padding: 0 3rem;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        h1 {
          font-size: 3.5rem;
          font-family: "Playfair Display", serif;
          padding: 1rem 0;
        }
        p {
          color: #adadad;
          font-size: 1.3rem;
          padding: 1rem 0;
        }
      }

      @media (max-width: 768px) {
        width: 100%;
        justify-content: center;

        .img {
          display: none;
        }
      }
    }
  }
  &__show {
    &--content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
      grid-template-rows: 100vh;
      min-height: 100vh;
      .left {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        min-height: inherit;
        &__content {
          width: 50%;
          &--top {
            padding: 5rem 0;
            p {
              font-size: 1rem;
              letter-spacing: 0.3rem;
              padding: 1rem 0;
              font-weight: 600;
            }
            h1 {
              letter-spacing: 0.5rem;
              font-size: 3.8rem;
              font-family: "Playfair Display", serif;
            }
          }
          &--list {
            max-height: 45vh;
            overflow-y: scroll;
            scrollbar-width: thin;
            &::-webkit-scrollbar-track {
              background: #adadad;
            }
            &::-webkit-scrollbar {
              width: 5px;
            }
            &::-webkit-scrollbar-thumb {
              background-color: #212020;
            }

            @media (max-width: 1024px) {
              height: 16vh;
            }

            @media (max-width: 768px) {
              min-height: 16vh;
              height: 45vh;
            }
          }
          &--item {
            height: 10rem;
            width: 100%;
            display: flex;
            margin: 1rem 0;
            padding: 1rem;
            cursor: pointer;
            .img {
              height: 100%;
              width: 13rem;
            }
            .info {
              padding: 1rem 2rem;
              h3 {
                font-size: 1.5rem;
                font-family: "Playfair Display", serif;
              }
              p {
                font-size: 1.2rem;
              }
            }
            &:hover {
              background-color: #ccc;
              .info {
                p {
                  color: #fff;
                }
              }
            }
          }
        }
      }
      .right {
        min-height: inherit;
        width: 100%;
        height: 100%;
        &__content {
          width: 100%;
          height: 100%;
          .img {
            height: 100%;
            width: 100%;
          }
          .info {
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            justify-content: center;
            p {
              font-size: 2rem;
              font-family: "Playfair Display", serif;
            }
          }
        }
      }
      @media (max-width: 1024px) {
        min-height: 40vh;
        grid-template-rows: 40vh;
      }

      @media (max-width: 768px) {
        grid-template-columns: 1fr;
        grid-template-rows: 200px 1fr;
        min-height: 100vh;
        .left {
          &__content {
            width: 70%;
          }
        }

        .right {
          display: none;
        }
      }
    }
  }
  &__blog {
    width: 100%;
    min-height: 100vh;
    &--content {
      padding: 5rem 0;
    }
    &--top {
      padding: 3rem 0;
      p {
        font-size: 1.5rem;
        letter-spacing: 0.5rem;
        font-weight: 600;
      }
      h2 {
        font-size: 3.5rem;
        font-family: "Playfair Display", serif;
        font-weight: bold;
      }
    }
    &--list {
      display: flex;
      padding: 2rem 0;
      justify-content: space-between;
      min-height: inherit;
      @media (max-width: 768px) {
        flex-wrap: wrap;
        justify-content: center;
      }
    }
    &--item {
      position: relative;
      width: 35rem;
      min-height: 30rem;
      padding: 0 3rem;
      margin-bottom: 2rem;
      .img {
        height: 20rem;
        width: 100%;
      }
      .info {
        height: inherit;
        position: relative;
        background-color: #fff;
        padding: 1rem;
        transition: all 0.5s ease-out;
        box-shadow: 12px, 0px, 8px, #000;
        cursor: pointer;
        .date {
          font-size: 1.3rem;
          padding: 1rem 0;
          color: #adadad;
        }
        h3 {
          font-size: 1.8rem;
          font-family: "Playfair Display", serif;
          font-weight: bold;
          width: 100%;
        }
        button {
          padding: 2rem 0 1rem 0;
          font-weight: bold;
          color: #adadad;
        }
        &:hover {
          .date {
            color: #000;
          }
          button {
            color: #000;
          }
        }
      }
    }

    @media (max-width: 1024px) {
      min-height: 40vh;
    }

    @media (max-width: 768px) {
      min-height: 100vh;
    }
  }
  &__contact {
    background-color: #fff;
    &--content {
      display: grid;
      margin-top: 10rem;
      grid-template-rows: auto;
      grid-template-columns: repeat(2, 1fr);
      min-height: 100vh;

      .left {
        width: 100%;
        height: 100%;
        &__content {
          width: 100%;
          height: 100%;
          .img {
            height: 100%;
            width: 100%;
          }
        }
      }
      .right {
        width: 100%;
        height: 50rem;
        &__content {
          padding: 5rem 0 0rem 10rem;
          &--top {
            p {
              font-size: 1.5rem;
              letter-spacing: 0.5rem;
              font-weight: 600;
            }
            h2 {
              font-size: 3.8rem;
              font-family: "Playfair Display", serif;
              font-weight: bold;
            }
          }
          &--info {
            position: relative;
            top: 8rem;
            h2 {
              padding: 1rem 0;
              font-size: 2.5rem;
              font-family: "Playfair Display", serif;
              font-weight: bold;
              span {
                font-size: 2.5rem;
                font-family: "Playfair Display", serif;
                font-weight: bold;
              }
            }
            .address {
              padding: 1rem 0;
              font-size: 1.3rem;
            }
            .email {
              padding: 2rem 0;
              font-size: 1.5rem;
              .black {
                font-family: "Playfair Display", serif;
              }
            }
            .call {
              position: relative;
              top: 2rem;
              padding: 2rem 0;
              .grey {
                font-size: 1.5rem;
                font-weight: 500;
              }
              h2 {
                font-size: 3.5rem;
                font-family: "Playfair Display", serif;
                font-weight: bold;
              }
            }
          }
        }
      }

      @media (max-width: 1024px) {
        min-height: 40vh;
      }

      @media (max-width: 768px) {
        grid-template-columns: 1fr;
        min-height: 100vh;
        .left {
          display: none;
        }

        .right {
          &__content {
            padding: 5rem;
          }
        }
      }
    }
  }
}
