.home__content {
  width: 100%;
}

.home__about--content {
  padding: 8rem 3rem;
  min-height: 100vh;
  padding-bottom: 0;
}

@media (max-width: 1024px) {
  .home__about--content {
    min-height: 50vh;
  }
}

.home__about--title {
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  padding: 2rem 0;
  font-weight: 600;
}

.home__about--main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  min-height: 40vh;
  padding: 5rem 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  .home__about--main {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.home__about--phone {
  font-size: 1rem;
  letter-spacing: 0.5rem;
  padding: 2rem 0;
  font-weight: 600;
  color: #adadad;
}

.home__about--mail {
  font-size: 1rem;
  letter-spacing: 0.5rem;
  padding: 2rem 0;
  font-weight: 600;
  color: #adadad;
}

.home__about--middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.home__about--middle .img {
  height: 32rem;
  width: 25rem;
}

@media (max-width: 1024px) {
  .home__about--middle .img {
    display: none;
  }
}

.home__about--middle .text {
  width: 50rem;
  padding: 0 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home__about--middle .text h1 {
  font-size: 3.5rem;
  font-family: "Playfair Display", serif;
  padding: 1rem 0;
}

.home__about--middle .text p {
  color: #adadad;
  font-size: 1.3rem;
  padding: 1rem 0;
}

@media (max-width: 768px) {
  .home__about--middle {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home__about--middle .img {
    display: none;
  }
}

.home__show--content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  width: 100%;
  -ms-grid-rows: 100vh;
      grid-template-rows: 100vh;
  min-height: 100vh;
}

.home__show--content .left {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  min-height: inherit;
}

.home__show--content .left__content {
  width: 50%;
}

.home__show--content .left__content--top {
  padding: 5rem 0;
}

.home__show--content .left__content--top p {
  font-size: 1rem;
  letter-spacing: 0.3rem;
  padding: 1rem 0;
  font-weight: 600;
}

.home__show--content .left__content--top h1 {
  letter-spacing: 0.5rem;
  font-size: 3.8rem;
  font-family: "Playfair Display", serif;
}

.home__show--content .left__content--list {
  max-height: 45vh;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.home__show--content .left__content--list::-webkit-scrollbar-track {
  background: #adadad;
}

.home__show--content .left__content--list::-webkit-scrollbar {
  width: 5px;
}

.home__show--content .left__content--list::-webkit-scrollbar-thumb {
  background-color: #212020;
}

@media (max-width: 1024px) {
  .home__show--content .left__content--list {
    height: 16vh;
  }
}

@media (max-width: 768px) {
  .home__show--content .left__content--list {
    min-height: 16vh;
    height: 45vh;
  }
}

.home__show--content .left__content--item {
  height: 10rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0;
  padding: 1rem;
  cursor: pointer;
}

.home__show--content .left__content--item .img {
  height: 100%;
  width: 13rem;
}

.home__show--content .left__content--item .info {
  padding: 1rem 2rem;
}

.home__show--content .left__content--item .info h3 {
  font-size: 1.5rem;
  font-family: "Playfair Display", serif;
}

.home__show--content .left__content--item .info p {
  font-size: 1.2rem;
}

.home__show--content .left__content--item:hover {
  background-color: #ccc;
}

.home__show--content .left__content--item:hover .info p {
  color: #fff;
}

.home__show--content .right {
  min-height: inherit;
  width: 100%;
  height: 100%;
}

.home__show--content .right__content {
  width: 100%;
  height: 100%;
}

.home__show--content .right__content .img {
  height: 100%;
  width: 100%;
}

.home__show--content .right__content .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home__show--content .right__content .info p {
  font-size: 2rem;
  font-family: "Playfair Display", serif;
}

@media (max-width: 1024px) {
  .home__show--content {
    min-height: 40vh;
    -ms-grid-rows: 40vh;
        grid-template-rows: 40vh;
  }
}

@media (max-width: 768px) {
  .home__show--content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 200px 1fr;
        grid-template-rows: 200px 1fr;
    min-height: 100vh;
  }
  .home__show--content .left__content {
    width: 70%;
  }
  .home__show--content .right {
    display: none;
  }
}

.home__blog {
  width: 100%;
  min-height: 100vh;
}

.home__blog--content {
  padding: 5rem 0;
}

.home__blog--top {
  padding: 3rem 0;
}

.home__blog--top p {
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  font-weight: 600;
}

.home__blog--top h2 {
  font-size: 3.5rem;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

.home__blog--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: inherit;
}

@media (max-width: 768px) {
  .home__blog--list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.home__blog--item {
  position: relative;
  width: 35rem;
  min-height: 30rem;
  padding: 0 3rem;
  margin-bottom: 2rem;
}

.home__blog--item .img {
  height: 20rem;
  width: 100%;
}

.home__blog--item .info {
  height: inherit;
  position: relative;
  background-color: #fff;
  padding: 1rem;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-box-shadow: 12px, 0px, 8px, #000;
          box-shadow: 12px, 0px, 8px, #000;
  cursor: pointer;
}

.home__blog--item .info .date {
  font-size: 1.3rem;
  padding: 1rem 0;
  color: #adadad;
}

.home__blog--item .info h3 {
  font-size: 1.8rem;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  width: 100%;
}

.home__blog--item .info button {
  padding: 2rem 0 1rem 0;
  font-weight: bold;
  color: #adadad;
}

.home__blog--item .info:hover .date {
  color: #000;
}

.home__blog--item .info:hover button {
  color: #000;
}

@media (max-width: 1024px) {
  .home__blog {
    min-height: 40vh;
  }
}

@media (max-width: 768px) {
  .home__blog {
    min-height: 100vh;
  }
}

.home__contact {
  background-color: #fff;
}

.home__contact--content {
  display: -ms-grid;
  display: grid;
  margin-top: 10rem;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  min-height: 100vh;
}

.home__contact--content .left {
  width: 100%;
  height: 100%;
}

.home__contact--content .left__content {
  width: 100%;
  height: 100%;
}

.home__contact--content .left__content .img {
  height: 100%;
  width: 100%;
}

.home__contact--content .right {
  width: 100%;
  height: 50rem;
}

.home__contact--content .right__content {
  padding: 5rem 0 0rem 10rem;
}

.home__contact--content .right__content--top p {
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  font-weight: 600;
}

.home__contact--content .right__content--top h2 {
  font-size: 3.8rem;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

.home__contact--content .right__content--info {
  position: relative;
  top: 8rem;
}

.home__contact--content .right__content--info h2 {
  padding: 1rem 0;
  font-size: 2.5rem;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

.home__contact--content .right__content--info h2 span {
  font-size: 2.5rem;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

.home__contact--content .right__content--info .address {
  padding: 1rem 0;
  font-size: 1.3rem;
}

.home__contact--content .right__content--info .email {
  padding: 2rem 0;
  font-size: 1.5rem;
}

.home__contact--content .right__content--info .email .black {
  font-family: "Playfair Display", serif;
}

.home__contact--content .right__content--info .call {
  position: relative;
  top: 2rem;
  padding: 2rem 0;
}

.home__contact--content .right__content--info .call .grey {
  font-size: 1.5rem;
  font-weight: 500;
}

.home__contact--content .right__content--info .call h2 {
  font-size: 3.5rem;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

@media (max-width: 1024px) {
  .home__contact--content {
    min-height: 40vh;
  }
}

@media (max-width: 768px) {
  .home__contact--content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    min-height: 100vh;
  }
  .home__contact--content .left {
    display: none;
  }
  .home__contact--content .right__content {
    padding: 5rem;
  }
}
/*# sourceMappingURL=Home.css.map */