.singleRoom .room__am--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4rem 0;
}

.singleRoom .room__am--list ul {
  font-size: 1.5rem;
}

.singleRoom .room__am--list ul li {
  padding: 0.7rem 0;
}

@media (max-width: 768px) {
  .singleRoom .room__am--list {
    padding: 4rem 1rem;
  }
}

.singleRoom .room__sectionReview--content {
  position: relative;
  min-height: 10rem;
  padding: 2rem 0;
}

.singleRoom .room__sectionReview--content .review--item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
}

.singleRoom .room__sectionReview--content .review--item .img {
  height: 80px;
  width: 100px;
}

.singleRoom .room__sectionReview--content .review--item .info {
  padding: 0.6rem 1rem;
  margin-left: 2rem;
  background-color: #f1f1f1;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}

.singleRoom .room__sectionReview--content .review--item .info .text {
  padding: 1rem 0;
}

.singleRoom .room__book {
  position: relative;
  min-height: 20vh;
}

.singleRoom .room__book button {
  padding: 1rem 4.5rem;
  border-radius: 3px;
  cursor: pointer !important;
}

.singleRoom .room__card--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .singleRoom .room__card--list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.singleRoom .room__card--item {
  max-width: 300px;
  padding-bottom: 2rem;
}

.singleRoom .room__left .img {
  width: 30rem;
  height: 200px;
}

.singleRoom .room__left-details {
  padding: 2rem;
  background-color: #fff;
}

.singleRoom .room__left-title a {
  font-weight: bold;
  color: #000;
  font-size: 1.8rem;
  font-family: "Playfair Display", serif;
}

.singleRoom .room__left-title a span {
  padding: 0 0.5rem;
}

.singleRoom .room__left-review {
  font-size: 1.2rem;
}

.singleRoom .room__left-others {
  padding: 1.3rem 0;
  font-size: 1.4rem;
}

.singleRoom .room__left-others p {
  color: #adadad;
}

.singleRoom .room__left-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 0;
  border-top: 1px solid #adadad;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.singleRoom .room__left-more p {
  font-size: 1.3rem;
}

.singleRoom .room__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.singleRoom .room__images {
  height: 50rem;
  width: 800px;
  background-size: cover;
}

@media (max-width: 768px) {
  .singleRoom .room__images {
    width: 300px;
    height: 200px;
  }
}

.singleRoom .home__blog {
  margin-bottom: 10rem;
}
/*# sourceMappingURL=Room.css.map */