@import "../../css/colors.scss";

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 9;
  &__content {
    color: $white;
    width: 60rem;
    &-title {
      font-size: 1.5rem;
      letter-spacing: 0.5rem;
      padding: 2rem 0;
    }
    &-text {
      font-size: 3rem;
      h1 {
        font-family: "Playfair Display", serif;
        width: 100%;
      }

      @media (max-width: 765px) {
        font-size: 2rem;
      }
    }
    .bar {
      position: absolute;
      width: 1px;
      height: 13rem;
      background-color: $grey;
      top: 90%;
    }
  }

  @media (max-width: 765px) {
    margin: 0;
  }

  @media (max-width: 1024px) {
    min-height: 40vh !important;
  }

  @media (max-width: 768px) {
    min-height: 70vh !important;
  }
}
