@import "../../css/colors.scss";
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &__content {
        color: $white;
        width: 60rem;
        &-title {
            font-size: 1.5rem;
            letter-spacing: 0.5rem;
            padding: 2rem 0;
        }
        &-text {
            font-size: 3rem;
            h1 {
                font-family: "Playfair Display", serif;
                width: 100%;
            }
        }
        .bar {
            position: absolute;
            width: 1px;
            height: 13rem;
            background-color: $grey;
            top: 90%;
        }
    }
}