$black: #000;
$white: #fff;
$body: #f1f1f1;
$green: #84a016;
$green2: #add633;
$blueText: #84a016;
$blueBkg: #dbe2e3;
$cardShadow: #cfcfcf;
$roundGreen: #a09816;
$select: #efeeee;
$footerBlack: #212020;
$footerGrey: #919191;
$grey: #adadad;
$grey2: #919191;
$grey3: #ccc;
$red: #cc0000;