.reservation {
    &__text {
        h2 {
            font-family: "Playfair Display", serif;
            font-size: 2.5rem;
            margin: 2.5rem 0;
        }
    }
    &__form {
        .form__content {
            background-color: #fff;
            form {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                align-items: center;
                .reserv-input {
                    padding: 3rem;
                    text-align: center;
                    .field-name {
                        font-weight: bold;
                        font-size: 1.5rem;
                        color: #919191;
                    }
                    .field-info {
                        font-family: "Playfair Display", serif;
                        .day {
                            font-size: 5.5rem;
                            font-family: "Playfair Display", serif;
                        }
                        .month {
                            font-weight: bold;
                            font-size: 1.5rem;
                            font-family: "Playfair Display", serif;
                        }
                    }
                }
                .bar {
                    border-right: 1px solid #ccc;
                }
                .submit {
                    position: relative;
                    text-align: center;
                    background-color: #a0d6dd;
                    width: 100%;
                    height: 100%;
                    span {
                        position: relative;
                        top: 2rem;
                        display: block;
                    }
                    p {
                        color: #1195a7;
                        padding: 0.5rem 0;
                    }
                    button {
                        padding: 1rem 2rem;
                    }
                }
            }
        }
    }
    &__rooms--content {
        .av_room {
            &__content {
                width: 100%;
                min-height: 30vh;
                display: flex;
                justify-content: space-between;
                background-color: #fff;
                align-items: center;
            }
            &--left {
                width: 70%;
                display: flex;
                .info-1 {
                    padding: 2rem 3rem;
                    .name {
                        font-family: "Playfair Display", serif;
                        font-size: 3rem;
                    }
                    .review {
                        margin-bottom: 3rem;
                        font-size: 1.4rem;
                    }
                    .status {
                        font-size: 1.5rem;
                    }
                }
            }
            .img {
                height: inherit;
                width: 40%;
            }
            &--right {
                .info-2 {
                    padding: 2rem;
                    align-items: center;
                    div {
                        display: flex;
                        align-items: baseline;
                        padding-bottom: 1.5rem;
                        input {
                            margin-right: 1rem;
                        }
                        p {
                            font-size: 1.4rem;
                            .red {
                                font-size: 2rem;
                                font-weight: bold;
                            }
                        }
                        &>span {
                            font-size: 1.5rem;
                        }
                        select {
                            margin: 0 2rem;
                            padding: 1rem 1.5rem;
                        }
                        button {
                            padding: 1.3rem 4rem;
                            border-radius: 3px;
                        }
                    }
                }
            }
        }
    }
    &__booking--content {
        background-color: #fff;
        .bo-dates {
            padding: 4rem 0;
            .grey {
                display: flex;
                justify-content: center;
                align-items: center;
                p {
                    margin: 0 1rem;
                    font-size: 1.5rem;
                }
            }
        }
        .bo-room {
            min-height: 13vh;
            display: flex;
            width: 100%;
            justify-content: space-between;
            border-bottom: 1px solid #adadad;
            &__list {
                margin: 0 auto;
                width: 90%;
            }
            &--left {
                display: flex;
                width: 60%;
                .img {
                    width: 25rem;
                    max-height: 12rem;
                }
                .info-3 {
                    padding: 1.5rem 2rem;
                    width: 100%;
                    .name {
                        font-family: "Playfair Display", serif;
                        font-size: 1.8rem;
                        font-weight: bold;
                        span {
                            font-weight: normal;
                            font-size: 1.5rem;
                        }
                    }
                    .choices {
                        padding: 2rem 0;
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        .grey {
                            font-size: 1.4rem;
                        }
                    }
                }
            }
            &--right {
                p {
                    font-size: 1.4rem;
                    padding: 1rem;
                }
                .red {
                    font-size: 2rem;
                }
            }
            &__pricing {
                display: flex;
                justify-content: space-between;
                min-height: 20vh;
                align-items: center;
                margin: 0 auto;
                width: 90%;
                span {
                    form {
                        input {
                            margin: 0 1rem;
                            padding: 1.4rem 2rem;
                            min-width: 25rem;
                            border-radius: 3px;
                            border: none;
                            color: #919191;
                            background-color: #f1f1f1;
                        }
                        button {
                            padding: 1.4rem 2rem;
                            margin: 0 1rem;
                            border: none;
                            font-weight: bold;
                            border-radius: 3px;
                            color: #fff;
                            cursor: pointer;
                            background-color: #adadad;
                        }
                    }
                }
                .total {
                    p {
                        font-size: 1.7rem;
                    }
                    .grey {
                        font-size: 1.3rem;
                    }
                }
                .bo-price {
                    font-size: 4rem;
                }
            }
        }
    }
    &__confirm {
        background-color: #fff;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        &--content {
            padding: 3rem 0;
            width: 90%;
            .form__content {
                position: relative;
                left: 3rem !important;
            }
            .confzone {
                display: flex;
                justify-content: center;
                text-align: center;
                &--pay {
                    text-align: left !important;
                    input {
                        padding: 0 1rem;
                        margin: 0 1rem;
                    }
                    font-size: 1.4rem;
                    padding-bottom: 2rem;
                }
                &--btn {
                    padding: 2rem 0;
                    button {
                        padding: 1rem 2.5rem;
                    }
                }
            }
        }
    }
}